@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root{
    --primary-color: #6B3CC9;
    --secondary-color: #F28D35;
    --analogous-color-1: #6A44F2;
    --analogous-color-2: #1CBDDD;
    --triadic-color-1: #52378C;
    --dark-color: #78BF91;
    --text-color: #2F2F2F;
    --text-color-light: #545A75;
    --text-color-subtle: #9C9991;
    --accent-color-wizard-white: #E2F2FE;
    --accent-color-cuddyl-yarn: #FFF8E0;
    --error-color: #FF0335;
    --success-color: #5EB30B;
    --white: #FFFFFF;
    --max-width: 1200px;
    --menu-text-color: #100C08;
    --accordion-color: #FAF8FF;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter";
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    z-index: 100;
}

.nav{
    position: relative;
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 80px;
}

.nav-logo{
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.nav-logo img{
    width: 238.89px;
}

.nav-close-btn,
.nav-toggle-btn{
    display: none;
    font-size: 25px;
    color: var(--white);
    cursor: pointer;
    transition: color .4s;
}

.nav-toggle-btn{
    margin-top: 10px;
}

.hero-section{
    position: relative;
    width: 100%;
    top: 77px;
    overflow: hidden;
}

.hero-container{
    position: relative;
    width: 100%;
}

.hero-image img{
    width: 100%;
    height: auto;
}

.hero-content{
    position: absolute;
    width: 40%;
    height: 45%;
    background: linear-gradient(to right, #1CBDDD, #4DCA79);
    top: 50%; 
    left: 80px; 
    color: white;
    padding: 20px;
}

.hero-data{
    color: var(--white);
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 4%;
}

.section-button a{
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 12px 20px;
    background-color: var(--secondary-color);
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.section-button a:hover{
    transform: scale(1.02);
}

.features-section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 20vh;
    width: 100%;
}

.feature-container{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 414px;
    margin-bottom: 10vh;
}

.features-image{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
}

.feature-description{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: 100%;
    row-gap: 20px;
    padding-right: 30px;
}

.feature-description h1{
    font-size: 27px;
    font-weight: 700;
    color: var(--primary-color);
    line-height: 33px;
}

.alignment{
    padding-left: 80px;
    float: left;
}

/* wrapper */
.wrapper {
    max-width: 70%;
    margin: auto;
}

.wrapper h1 {
    font-size: 27px;
    margin: 24px 0;
    text-align: center;
    color: var(--primary-color);
    font-weight: 700;
}

.accordion {
    background-color: var(--accordion-color);
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 19px;
    width: 100%;
    height: 76px;
    padding: 16px 24px;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    border-radius: 7px;
    text-align: left;
}

.accordion i {
    font-size: 25px;
}

.active,
.accordion:hover {
    color: var(--primary-color);
    background-color: var(--accordion-color);
}
.pannel {
    padding: 0 32px 2.40px 32px;
    background-color: white;
    overflow: hidden;
    background-color: var(--accordion-color);
    display: none;
    height: 73px;
}
.pannel p {
    color: var(--text-color-light);
    font-size: 19px;
    line-height: 1.4;
}

.faq {
    border: none;
    margin: 10px 0;
    border-radius: 7px;
}
.faq.active {
    border: none;
}

/* Footer */
footer {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 80px;
    background-color: var(--primary-color);
  }
  
  .footer-container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
  }
  
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .footer-wrapper .footer-widget {
    width: calc(20% - 30px);
    margin: 0 15px 50px;
    padding: 0 12px;
  }
  
  .footer-wrapper .footer-widget:nth-child(1) {
    width: calc(40% - 50px);
    margin-right: 15px;
  }
  
  .footer-wrapper .footer-widget .footer-logo {
    margin-bottom: 30px;
    vertical-align: middle;
    width: 238.89px;
  }
  
  .footer-wrapper .footer-widget p {
    margin-bottom: 15px;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: var(--white);

  }
  
  .footer-wrapper .footer-widget h6 {
    color: var(--white);
    margin: 10px 0 35px;
    font-family: "Inter";
    font-size: 21px;
    font-weight: 600;
    text-align: left;

  }
  
  .footer-wrapper .footer-widget .links li {
    list-style: none;
  }
  
  .footer-wrapper .footer-widget .links li p {
    color: var(--white);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    text-align: left;
  }
  
  .copyright-wrapper {
    padding: 20px 0;
    border-top: 1px solid var(--white);
  }
  
  .copyright-wrapper p {
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }
  
  .copyright-wrapper p a {
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease-out;
  }

@media screen and (max-width: 1299px) {
    .hero-content{
        width: 46%;
        height: 50%;
        top: 40%;
    }

    .hero-data{
        font-size: 40px;
    }
}

@media screen and (max-width: 1160px) {
    .hero-data{
        font-size: 35px;
    }
}

@media screen and (max-width: 1080px) {
    .hero-data{
        font-size: 30px;
    }
}

@media screen and (max-width: 945px) {
    .hero-content{
        width: 55%;
        height: 55%;
        top: 40%;
    }

    .hero-data{
        margin-bottom: 2%;
    }
}

@media (max-width: 992px) {
    .footer-container {
      max-width: 960px;
    }
  
    .footer-wrapper .footer-widget,
    .footer-wrapper .footer-widget:nth-child(1) {
      width: calc(50% - 30px);
    }
}

@media screen and (min-width: 850px) {
    .nav-menu-list{
        display: flex;
        flex-direction: row;
        gap: 28px;
    }

    .nav-link{
        font-size: 14px;
        font-weight: 500;
        color: var(--white);
    }
}

@media screen and (max-width: 850px) {
    .nav{
        padding: 26px 20px;
    }

    .nav-close-btn,
    .nav-toggle-btn {
        display: block;
    }

    .nav-menu{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: var(--white);
        width: 100%;
        height: 100%;
        padding: 16px 20px;
        display: flex;
        flex-direction: column;
        border: none;
        transition: right .4s;
    }

    .nav-close-btn{
        color: var(--menu-text-color);
    }

    .nav-menu-list {
        display: flex;
        flex-direction: column;
        row-gap: 36px;
    }

    .nav-link{
        font-size: 12px;
        color: var(--menu-text-color);
        font-weight: 500;
    }

    .hero-content{
        position: relative;
        width: 100%;
        height: auto; 
        color: white;
        padding: 24px 20px;
        left: 0px;
        margin-top: -1vh;
    }
}

@media (max-width: 768px) {
    .footer-container {
      max-width: 720px;
    }
  
    .footer-wrapper .footer-widget,
    .footer-wrapper .footer-widget:nth-child(1) {
      width: 100%;
      margin: 0 10px 50px;
    }
}

@media screen and (max-width: 750px) {
    .feature-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 60vh;
    }

    .features-image {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .features-image img {
        width: 80%;
        height: auto;
    }

    .feature-description {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .revalignment{
        flex-direction: column-reverse;
    }

    .alignment{
        padding: 0;
    }

    .accordion {
        height: auto;
    }

    .pannel {
        height: auto;
    }
}

@media screen and (max-width: 630px){
    .revalignment{
        margin-top: 40vh;
    }
}

.nav-link{
    transition: color .4s;
}

.nav-link:hover{
   transform: scale(1.1);
   font-weight: 700;
}

.nav-close-btn{
    position: absolute;
    top: 16px;
    right: 24px;
}

.show-menu{
    right: 0;
}

::-webkit-scrollbar{
    width: 5px;
    background-color: var(--accent-color-wizard-white);
}

::-webkit-scrollbar-thumb{
    background-color: var(--analogous-color-1);
    border-radius: 10px;
}